# Dependencias principales de la API
Django==5.2.7
djangorestframework==3.16.1

# Servidor de Producción WSGI (CRUCIAL para Render)
gunicorn==23.0.0

# Librerías esenciales que Django/DRF casi siempre necesitan
asgiref==3.9.2
sqlparse==0.5.3
pytz 
tzdata 
requests
numpy
datetime
json
os
re

# Si usas PostgreSQL como base de datos (recomendado para producción)
# psycopg2-binary 

# Si usas alguna de estas librerías, descomenta las líneas.
# Generalmente son útiles pero pueden ser opcionales.
# requests
# pillow
# pyyaml