# requirements.txt corregido

# Dependencias principales de la API
Django==5.2.7
djangorestframework==3.16.1

# Servidor de Producción WSGI (CRUCIAL para Render)
gunicorn==23.0.0

# Librerías esenciales que Django/DRF casi siempre necesitan
asgiref==3.9.2
sqlparse==0.5.3
pytz 
tzdata 

# Librerías externas específicas de tu proyecto (requests y numpy)
requests
numpy

# ---------------------------------------------
# Puedes dejar estos, si los necesitas:

# Si usas PostgreSQL (Base de datos de Render)
# psycopg2-binary 

# Si usas PIL/Pillow para imágenes
# pillow